*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
build-*
build_*
cscope.*
.dir
venv
.venv
.idea

/*.patch

tags
.project
.cproject
.xxproject
.envrc
.vscode

_pycache__/

/doc/_build*
twister-out*

.codegraph
/applications/aliro-nfc-user-device/docs/harness/STATE.md