#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

mainmenu "Aliro NFC User Device - Os::Timer Adapter Test"

rsource "../../../../../applications/aliro-nfc-user-device/src/platform/os/Kconfig"

source "Kconfig.zephyr"
