#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

rsource "nfc/Kconfig"
rsource "os/Kconfig"
rsource "crypto/Kconfig"
rsource "authorization/Kconfig"
