#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config DOOR_LOCK_GESTURE_ACCESS_MODEL
	bool "Gesture access inference model"
	select CPP
	select NRF_AXON


if DOOR_LOCK_GESTURE_ACCESS_MODEL

config NRF_AXON_INTERLAYER_BUFFER_SIZE
	int
	default 120000


endif # DOOR_LOCK_GESTURE_ACCESS_MODEL

